
<div class="container" id="services">
    <div class="bg-gray-100 rounded">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
          <h2 class="text-2xl font-extrabold text-gray-900"><a href="https://start.axcora.com" class="text-indigo-600"><%= servTitle %></a></h2>
    
          <div class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6">
            <div class="group relative">
              <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                <img src="<%= servDesc1 %>" alt="<%= servTitle1 %>" class="w-full h-full object-center object-cover">
              </div>
              <h3 class="mt-6 text-sm text-gray-500">
                <a href="<%= servUrl1 %>">
                  <span class="absolute inset-0"></span>
                  <%= servTitle1 %>
                </a>
              </h3>
              <p class="text-base font-semibold text-gray-900"><%= servCover1 %></p>
            </div>
    
            <div class="group relative">
              <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                <img src="<%= servDesc2 %>" alt="<%= servTitle2 %>" class="w-full h-full object-center object-cover">
              </div>
              <h3 class="mt-6 text-sm text-gray-500">
                <a href="<%= servUrl2 %>">
                  <span class="absolute inset-0"></span>
                  <%= servTitle2 %>
                </a>
              </h3>
              <p class="text-base font-semibold text-gray-900"><%= servCover2 %></p>
            </div>
    
            
    
            <div class="group relative">
              <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                <img src="<%= servDesc3 %>" alt="<%= servTitle3 %>" class="w-full h-full object-center object-cover">
              </div>
              <h3 class="mt-6 text-sm text-gray-500">
                <a href="<%= servUrl3 %>">
                  <span class="absolute inset-0"></span>
                  <%= servTitle3 %>
                </a>
              </h3>
              <p class="text-base font-semibold text-gray-900"><%= servCover3 %></p>
            </div>
  
            
    
            <div class="group relative">
              <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                <img src="<%= servDesc4 %>" alt="<%= servTitle4 %>" class="w-full h-full object-center object-cover">
              </div>
              <h3 class="mt-6 text-sm text-gray-500">
                <a href="<%= servUrl4 %>">
                  <span class="absolute inset-0"></span>
                  <%= servTitle4 %>
                </a>
              </h3>
              <p class="text-base font-semibold text-gray-900"><%= servCover4 %></p>
            </div>
  
            
    
            <div class="group relative">
              <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                <img src="<%= servDesc5 %>" alt="<%= servTitle5 %>" class="w-full h-full object-center object-cover">
              </div>
              <h3 class="mt-6 text-sm text-gray-500">
                <a href="<%= servUrl5 %>">
                  <span class="absolute inset-0"></span>
                  <%= servTitle5 %>
                </a>
              </h3>
              <p class="text-base font-semibold text-gray-900"><%= servCover5 %></p>
            </div>
  
            
    
            <div class="group relative">
              <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                <img src="<%= servDesc6 %>" alt="<%= servTitle6 %>" class="w-full h-full object-center object-cover">
              </div>
              <h3 class="mt-6 text-sm text-gray-500">
                <a href="<%= servUrl6 %>">
                  <span class="absolute inset-0"></span>
                  <%= servTitle6 %>
                </a>
              </h3>
              <p class="text-base font-semibold text-gray-900"><%= servCover6 %></p>
            </div>
  
            
    
            <div class="group relative">
              <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                <img src="<%= servDesc7 %>" alt="<%= servTitle7 %>" class="w-full h-full object-center object-cover">
              </div>
              <h3 class="mt-6 text-sm text-gray-500">
                <a href="<%= servUrl7 %>">
                  <span class="absolute inset-0"></span>
                  <%= servTitle7 %>
                </a>
              </h3>
              <p class="text-base font-semibold text-gray-900"><%= servCover7 %></p>
            </div>
  
  
          </div>
        </div>
      </div>
    </div>
  </div>