<div class="container" id="contact">
  
  <div class="bg-gray-50 p-3 p-md-5">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        <span class="block"><%= ft1 %></span>
        <span class="block text-indigo-600"><%= ft2 %></span>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <a href="<%= ft5 %>" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
            <%= ft3 %>
          </a>
        </div>
        <div class="ml-3 inline-flex rounded-md shadow">
          <a href="<%= ft6 %>" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50">
            <%= ft4 %>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="footer col-12 text-center">
  <p>Axcora technology <br>Ruko Pasar Wisata Juanda Blok Q.07 - east java - sidoarjo - indonesia.</p>
<small>Node-X Made with ❤️ by <a href="https://axcora.com">axcora technology</a></small>
  </div>
  <script src="https://cdn.jsdelivr.net/gh/romeo611199/neumorphism-css/dist/js/neumorphism.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>