<div class="container">
    <div class="bg-white">
      <div class="max-w-2xl mx-auto py-24 px-4 grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8 lg:grid-cols-2">
        <div class="p-3 p-md-5">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"><%= iTitle %></h2>
          <p class="mt-4 text-gray-500"><%= iDesc %></p>
    
          <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900"><%= iContent1title %></dt>
              <dd class="mt-2 text-sm text-gray-500"><%= iContent1 %></dd>
            </div>
    
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900"><%= iContent2title %></dt>
              <dd class="mt-2 text-sm text-gray-500"><%= iContent2 %></dd>
            </div>
    
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900"><%= iContent3title %></dt>
              <dd class="mt-2 text-sm text-gray-500"><%= iContent3 %></dd>
            </div>
    
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900"><%= iContent4title %></dt>
              <dd class="mt-2 text-sm text-gray-500"><%= iContent4 %></dd>
            </div>
    
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900"><%= iContent5title %></dt>
              <dd class="mt-2 text-sm text-gray-500"><%= iContent5 %></dd>
            </div>
    
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900"><%= iContent6title %></dt>
              <dd class="mt-2 text-sm text-gray-500"><%= iContent6 %></dd>
            </div>
          </dl>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
          <img src="<%= ilus1 %>" alt="<%= desc %>" class="bg-gray-100 rounded-lg">
          <img src="<%= ilus2 %>" alt="<%= desc %>" class="bg-gray-100 rounded-lg">
          <img src="<%= ilus3 %>" alt="<%= desc %>" class="bg-gray-100 rounded-lg">
          <img src="<%= ilus4 %>" alt="<%= desc %>" class="bg-gray-100 rounded-lg">
        </div>
      </div>
    </div>
    
    </div>