<div class="bg-white p-3">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-extrabold tracking-tight text-gray-900"><%= galTitle %></h2>
  
      <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div class="group relative">
          <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
            <img src="<%= galSpek1 %>" alt="<%= galTitle1 %>" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="<%= galUrl1 %>" target="_blank">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  <%= galTitle1 %>
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500"><%= galDesc1 %></p>
            </div>
          </div>
        </div>
        <div class="group relative">
          <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
            <img src="<%= galSpek2 %>" alt="<%= galTitle2 %>" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="<%= galUrl2 %>" target="_blank">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  <%= galTitle2 %>
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500"><%= galDesc2 %></p>
            </div>
          </div>
        </div>
        <div class="group relative">
          <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
            <img src="<%= galSpek3 %>" alt="<%= galTitle3 %>" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="<%= galUrl3 %>" target="_blank">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  <%= galTitle3 %>
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500"><%= galDesc3 %></p>
            </div>
          </div>
        </div>
        <div class="group relative">
          <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
            <img src="<%= galSpek4 %>" alt="<%= galTitle4 %>" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="<%= galUrl4 %>" target="_blank">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  <%= galTitle4 %>
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500"><%= galDesc4 %></p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>