
<div class="container">
    <div class="bg-white">
      <div class="pt-6">
          <div class="mt-6 max-w-2xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
          <div class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block">
            <img src="<%= banner1 %>" alt="Two each of gray, white, and black shirts laying flat." class="w-full h-full object-center object-cover">
          </div>
          <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
            <div class="aspect-w-3 aspect-h-2 rounded-lg overflow-hidden">
              <img src="<%= banner2 %>" alt="Model wearing plain black basic tee." class="w-full h-full object-center object-cover">
            </div>
            <div class="aspect-w-3 aspect-h-2 rounded-lg overflow-hidden">
              <img src="<%= banner3 %>" alt="Model wearing plain gray basic tee." class="w-full h-full object-center object-cover">
            </div>
          </div>
          <div class="aspect-w-4 aspect-h-5 sm:rounded-lg sm:overflow-hidden lg:aspect-w-3 lg:aspect-h-4">
            <img src="<%= banner4 %>" alt="Model wearing plain white basic tee." class="w-full h-full object-center object-cover">
          </div>
        </div>
    
        <div id="start" class="max-w-2xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:max-w-7xl lg:pt-16 lg:pb-24 lg:px-8 lg:grid lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8">
          <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
            <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
              <a href="https://start.axcora.com" class="text-indigo-600"><%= titles1 %></a>
            </h1>
          </div>
    
          <div class="mt-4 lg:mt-0 lg:row-span-3">
            <p class="text-3xl text-gray-900"><%= descs1 %></p>
    
            <div class="mt-6">
              <div class="flex items-center">
                <%= texts1 %>
              </div>
            </div>
    
            <form class="mt-10">
             
              <div class="mt-10">
               
                <fieldset class="mt-4">
                
                  <div class="grid grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4">               
                    <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 bg-white shadow-sm text-gray-900 cursor-pointer">
                      <p id="size-choice-0-label">
                        <i class="<%= s1icon1 %> fa-2x text-danger"></i>
                      </p>
                        <div class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></div>
                    </label>
    
                    <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 bg-white shadow-sm text-gray-900 cursor-pointer">
                    
                      <p id="size-choice-1-label">
                        <i class="<%= s1icon2 %> fa-2x text-success"></i>
                      </p>
                        <div class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></div>
                    </label>
    
                    <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 bg-white shadow-sm text-gray-900 cursor-pointer">
                     <p id="size-choice-2-label">
                        <i class="<%= s1icon3 %> fa-2x text-info"></i>
                      </p>
    
                      <div class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></div>
                    </label>
    
                    <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 bg-white shadow-sm text-gray-900 cursor-pointer">
                      <p id="size-choice-3-label">
                        <i class="<%= s1icon4 %> fa-2x text-danger"></i>
                      </p>
    
                      <div class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></div>
                    </label>
    
                    <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 bg-white shadow-sm text-gray-900 cursor-pointer">
                      <p id="size-choice-4-label">
                        <i class="<%= s1icon5 %> fa-2x"></i>
                      </p>
    
                      <div class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></div>
                    </label>
    
                    <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 bg-white shadow-sm text-gray-900 cursor-pointer">
                      <p id="size-choice-5-label">
                        <i class="<%= s1icon6 %> fa-2x text-warning"></i>
                      </p>
    
                      <div class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></div>
                    </label>
    
                    <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 bg-white shadow-sm text-gray-900 cursor-pointer">
                      <p id="size-choice-6-label">
                        <i class="<%= s1icon7 %> fa-2x text-danger"></i>
                      </p>
    
                      <div class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></div>
                    </label>
    
                    <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 bg-white shadow-sm text-gray-900 cursor-pointer">
                      <p id="size-choice-7-label">
                        <i class="<%= s1icon8 %> fa-2x"></i>
                      </p>
    
                      <div class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></div>
                    </label>
                  </div>
                </fieldset>
              </div>
    
                 </form>
          </div>
    
          <div class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
            <div>
            <div class="space-y-6">
                <p class="text-base text-gray-900">
                  <%= s1content %>
                </p>
              </div>
            </div>
    
         
            <div class="mt-10">
              <h2 class="text-sm font-medium text-gray-900">
                <%= s1service %>
              </h2>
    
              <div class="mt-4 space-y-6">
                <p class="text-sm text-gray-600"><%= s1services %>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>